.container {
    max-width: 500px;
    border: 2px dotted rgb(111, 111, 126);
    display: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 10px;
}