.servicios {
    color: white;
    background-color: rgb(65, 91, 104);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 10px auto;
    max-width: 1000px;
}